@page
@model University_HR_ManagementSystem.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.OfficialDayOff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.OfficialDayOff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.YearsOfExperience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.YearsOfExperience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.NationalID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.NationalID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmploymentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmploymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TypeOfContract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TypeOfContract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmergencyContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmergencyContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmergencyContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmergencyContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.AnnualBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.AnnualBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.AccidentalBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.AccidentalBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastWorkingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastWorkingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Department.DeptName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
